name: "Lint PR"

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
  main:
    name: Validate PR Title
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # Ensure the PR title matches the Conventional Commits specification
          validateSingleCommit: false

          # Optional: Disallow scopes that are not relevant (e.g., only allow 'charts', 'api', etc.)
          scopes: |
            api
            cmd
            controller
            deps
            executor
            scheduler
            test
            docs
            enhancement
            charts

          # Configure which types are allowed.
          types: |
            feat
            fix
            docs
            style
            refactor
            perf
            test
            build
            ci
            chore
            revert
